@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url(//db.onlinewebfonts.com/c/f36a026fd7fae583b3e2bb8a56584207?family=FF+Providence+Sans);

* {
	padding: 0;
	margin: 0;
	font-family: candara;
}

a:link {
	text-decoration: none;
}

.social a:link, header a:link{
	color: white;
}

.social a:visited, header a:visited{
	color: white;
}

.social {
	color: white;
	font-size: 1.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

main > section > h1, h2, h3 {
	font-size: xx-large;
}

body {
	min-width:40em;
}

main {
	background: white;
	margin: auto;
	width: 95%;
	max-width: 90em;
	margin-top: 5em;
}

header.static {
	font-family: Providence Sans;
	color: white;
	height: 5em;
	width: 100%;
	position: fixed;
	top: 0;
	background: rgb(177,26,41);
	display: flex;
	justify-content: space-between;
	z-index: 3;
}

p.sansserif{
	font-family: sans-serif;
	font-size: large;
}

li.sansserif{
	font-family: sans-serif;
	font-size: large;
}

header.static img {
	height: 100%;
}

ul#social {
	display: flex;
	padding-right: 10px;
}

ul#social li{
	margin: 5px;
}

nav#menu {
	width: 100%;
	height: 5em;
}

nav#menu > ul{
	display: flex;
	height: 100%;
	justify-content: space-between;
}

nav#menu ul > li.submenu , li.button {
	/*float: left;*/
	/*padding-top: 0.5em;*/
	height: 100%;
	font-size: 1.3em;
	width: 23%;
	height: 100%;
	/*background-size: 100% 100%;*/
	text-align: center;
}

nav#menu ul > li > p{
	/*height: 100%;*/
	margin: auto;
	/*line-height: 4em;*/
	margin-top: 1.3em;
	/*margin-bottom: -1.3em;*/
	padding-bottom: 1.3em;
}

	
nav#menu li ul{
	/*top: auto;*/
	display: none;
}

nav#menu li li{
	background: rgb(216,36,53);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 0.8em;
	/*height: 3.5em;*/
	display: none;
}

nav#menu > ul > li:hover.submenu,
nav#menu > ul > li.hover.submenu{
	color: lightgrey;
	background: rgb(131, 22, 33);
	z-index: 2;
}

nav#menu > ul > li:hover:not(.submenu),
nav#menu > ul > li.hover:not(.submenu){
	background: rgb(233, 124, 135);
}

nav#menu li:hover ul,
nav#menu li.hover ul{
	display: block;
}

nav#menu li:hover li:not(.scrollimg),
nav#menu li.hover li:not(.scrollimg){
	display: block;
	padding-left: 5%;
	padding-right: 5%;
}

nav#menu li:hover li:hover,
nav#menu li.hover li:hover{
	background: rgb(233, 124, 135);
}

nav#menu li:hover li.scrollimg,
nav#menu li.hover li.scrollimg{
	display: block;
}

ul#social:hover li{
	filter: brightness(0.4);
}

ul#social:hover li:hover{
	filter: none;
}

ul {
	list-style-type: none;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}